<div>
  <cosna-logo-svg class="h-auto w-36"></cosna-logo-svg>
  <h2 class="mt-6 text-3xl font-semibold text-slate-900">Réinitialisation Mot de passe</h2>
  <p class="mt-2 text-sm text-slate-600">
    Veuillez renseignez votre nouveau mot de passe pour vous connectez.
  </p>
</div>

<!-- Session Status -->
<cosna-success *ngIf="message$ | async; let message" [message]="message" class="mt-4"></cosna-success>

<!-- Validation Errors -->
<cosna-errors *ngIf="error$ | async; let error" [message]="error" class="mt-4"></cosna-errors>

<form [formGroup]="form" (submit)="submit()" class="mt-8 space-y-6">
  <!-- Email Address -->
  <div>
    <cosna-input-overlaping-label
      label="Adresse E-mail"
      name="email"
      formControlName="email"
    ></cosna-input-overlaping-label>
  </div>

  <!-- Password -->
  <div>
    <cosna-input-overlaping-label
      label="Nouveau Mot de passe"
      name="password"
      formControlName="password"
      [type]="'password'"
    ></cosna-input-overlaping-label>
  </div>

  <!-- Password Confirmation -->
  <div>
    <cosna-input-overlaping-label
      label="Confirmer Mot de passe"
      name="password_confirmation"
      formControlName="password_confirmation"
      [type]="'password'"
    ></cosna-input-overlaping-label>
  </div>

  <div class="flex items-center justify-end">
    <cosna-button-primary type="submit" class="space-x-3" [loading$]="(loading$)">
      Réinitialiser Mot de passe
    </cosna-button-primary>
  </div>

</form>