<div>
  <logo-svg class="h-auto w-36 text-slate-900 dark:text-white"></logo-svg>
  <h2 class="mt-6 text-3xl font-semibold text-slate-900 dark:text-white" i18n>Réinitialisation Mot de passe</h2>
  <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
    Veuillez renseignez votre nouveau mot de passe pour vous connectez.
  </p>
</div>

<!-- Session Status -->
<alert-success *ngIf="message$ | async; let message" [message]="message" class="mt-4"></alert-success>

<!-- Validation Errors -->
<alert-errors *ngIf="error$ | async; let error" [message]="error" class="mt-4"></alert-errors>

<form [formGroup]="form" (submit)="submit()" class="mt-8 space-y-6">
  <!-- Email Address -->
  <div>
    <input-overlaping-label
      label="Adresse E-mail"
      i18n-label="attr-email"
      name="email"
      formControlName="email"
    ></input-overlaping-label>
  </div>

  <!-- Password -->
  <div>
    <input-overlaping-label
      label="Nouveau Mot de passe"
      i18n-label="attr-new-password"
      name="password"
      formControlName="password"
      [type]="'password'"
    ></input-overlaping-label>
  </div>

  <!-- Password Confirmation -->
  <div>
    <input-overlaping-label
      label="Confirmer Mot de passe"
      i18n-label="attr-confirm-password"
      name="password_confirmation"
      formControlName="password_confirmation"
      [type]="'password'"
    ></input-overlaping-label>
  </div>

  <div class="flex items-center justify-end">
    <button-primary type="submit" class="space-x-3" [loading$]="loading$" i18n>
      Réinitialiser Mot de passe
    </button-primary>
  </div>

</form>