<div class="pt-5 pb-16">
  <!-- Actions panel -->
  <section aria-labelledby="quick-links-title">
    <div class="overflow-hidden divide-y rounded-lg bg-slate-200 divide-slate-200 dark:bg-gray-700 dark:divide-slate-700 sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0 lg:grid-cols-3">
      <h2 class="sr-only" id="quick-links-title" i18n>Lien rapides</h2>
      
        <div class="relative p-6 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 text-teal-700 rounded-lg bg-teal-50 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
              </svg>              
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://angular.laravel.cm" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span i18n>Documentation</span>
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Une documentation simple pour rapidement utiliser le boilerplate pour votre administration.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
            </svg>
          </span>
        </div>
      
        <div class="relative p-5 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 text-purple-700 rounded-lg bg-purple-50 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://angular.laravel.cm/benefics" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span i18n>Bénéfices</span>
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Un boilerplate <span class="font-medium text-slate-700 dark:text-white">Ready To Use</span> pour créer une administration avec Angular 13 et Laravel.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
            </svg>
          </span>
        </div>
      
        <div class="relative p-5 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 rounded-lg bg-sky-50 text-sky-700 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
              </svg>              
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://tailwindcss.com" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span i18n>Technologies</span>
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Ce projet tourne sur la version 13 d'Angular et pour le style, Tailwind v3.1 est utilisé.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
            </svg>
          </span>
        </div>
      
        <div class="relative p-5 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 text-yellow-700 rounded-lg bg-yellow-50 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://github.com/laravelcm/laravelcm" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span i18n>Sponsoring</span>
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Pour soutenir le developpement de ce projet, vous pouvez faire un don pour encorager la Team.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
            </svg>
          </span>
        </div>
      
        <div class="relative p-5 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 rounded-lg bg-rose-50 text-rose-700 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
              </svg>              
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://ngrx.io" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                NgRx - RxJS
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Toute l'architecture NgRx et RxJS est inspiré de la documentation officielle de NgRx.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
            </svg>
          </span>
        </div>
      
        <div class="relative p-5 bg-white dark:bg-gray-800 group focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
          <div>
            <span class="inline-flex p-3 rounded-lg text-primary-700 bg-primary-50 ring-4 ring-white dark:ring-gray-800">
              <svg class="w-6 h-6" x-description="Heroicon name: outline/academic-cap" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-slate-900 dark:text-white">
              <a href="https://dyma.fr/r/6304c19b44243265c770cbc8" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span i18n>Formation</span>
              </a>
            </h3>
            <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
              Obtenez une réduction de 10€ sur la formation Angular en vous inscrivant sur Dyma.fr.
            </p>
          </div>
          <span class="absolute pointer-events-none text-slate-300 top-6 right-6 group-hover:text-slate-400" aria-hidden="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
            </svg>
          </span>
        </div>
      
    </div>
  </section>
</div>