<cosna-drawer-button (click)="open()">
  <ng-content select="[slot=button]"></ng-content>
</cosna-drawer-button>

<mat-sidenav-container 
  getElementRef
  hasBackdrop="true"
  (backdropClick)="sidenav.close()"
>
  <mat-sidenav
    fixedBottomGap="10"
    position="end"
    mode="over"
    #sidenav
    disableClose
    [ngClass]="class"
    [(opened)]="opened"
  >
    <div class="flex flex-col h-full py-6 overflow-y-scroll bg-white shadow-xl">
      <div class="px-4 sm:px-6">
        <div class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-slate-900" id="slide-over-title">{{ title }}</h2>
          <div class="flex items-center ml-3 h-7">
            <button (click)="sidenav.close()" type="button" class="bg-white rounded-md text-slate-400 hover:text-slate-500 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
              <span class="sr-only">Close panel</span>
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="relative flex-1 px-4 mt-6 sm:px-6">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
    