<div class="flex flex-col min-h-full pt-16 pb-12 bg-white dark:bg-gray-900">
  <main class="flex flex-col justify-center flex-grow w-full px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-center flex-shrink-0">
      <div class="inline-flex">
        <span class="sr-only" i18n>Administration</span>
        <logo-svg class="w-auto h-20 text-slate-900 dark:text-white"></logo-svg>
      </div>
    </div>
    <div class="py-16">
      <div class="text-center">
        <p class="text-xl font-semibold text-primary-600 sm:text-2xl">404</p>
        <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl dark:text-white" i18n>Page introuvable.</h1>
        <p class="mt-2 text-base text-slate-500 dark:text-slate-400" i18n>Désolé, nous n'avons pas trouvé la page que vous recherchez.</p>
        <div class="mt-6">
          <a *ngIf="isLoggedIn" (click)="redirectToHome()" class="text-base font-medium cursor-pointer text-primary-600 hover:text-primary-500 hover:underline" i18n>
            Retourner à l'accueil
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </main>
  <footer class="flex-shrink-0 w-full px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex justify-center space-x-4">
      <a href="mailto:monneylobe@gmail.com" class="text-sm font-medium text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-white" i18n>Contactez le Support</a>
      <span class="inline-block border-l border-slate-300 dark:border-slate-700" aria-hidden="true"></span>
      <a href="#" target="_blank" class="text-sm font-medium text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-white" i18n>Status</a>
      <span class="inline-block border-l border-slate-300 dark:border-slate-700" aria-hidden="true"></span>
      <a href="https://twitter.com/laravelcm" target="_blank" class="text-sm font-medium text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-white">Twitter</a>
      <span class="inline-block border-l border-slate-300 dark:border-slate-700" aria-hidden="true"></span>
      <a href="https://github.com/laravelcm" target="_blank" class="text-sm font-medium text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-white">Github</a>
    </nav>
  </footer>
</div>
