<div>
  <logo-svg class="h-auto w-36 text-slate-900 dark:text-white"></logo-svg>
  <h2 class="mt-6 text-3xl font-semibold text-slate-900 dark:text-white" i18n>Mot de passe oublié?</h2>
  <p class="mt-2 text-sm text-slate-500 dark:text-slate-400" i18n>
    Saisissez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
  </p>
</div>

<!-- Session Status -->
<alert-success *ngIf="message$ | async; let message" [message]="message" class="mt-4"></alert-success>

<!-- Validation Errors -->
<alert-errors *ngIf="error$ | async; let error" [message]="error" class="mt-4"></alert-errors>

<form [formGroup]="form" (submit)="submit()" class="mt-8 space-y-6">
  <div>
    <input-overlaping-label
      label="Adresse E-mail"
      i18n-label="attr-email"
      name="email"
      formControlName="email"
    ></input-overlaping-label>
  </div>

  <div class="flex items-center justify-end">
    <button-primary type="submit" [loading$]="(loading$)" i18n>
      Envoyer le lien de réinitialisation
    </button-primary>
  </div>
</form>

<p class="mt-2 text-right">
  <a routerLink="/auth/login" class="inline-flex items-center text-sm font-medium leading-5 text-secondary-500 hover:text-secondary-600 hover:underline">
    <svg class="w-5 h-5 mr-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.75 15.75L3 12M3 12L6.75 8.25M3 12H21" />
    </svg>
    <span i18n>Retournez à la page de connexion</span>
  </a>
</p>